{% load static %}

<!DOCTYPE HTML>
<!--
	Future Imperfect by HTML5 UP
	html5up.net | @ajlkn
	Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
-->

{% include 'snippets/standard1.html' %}


                                                                <section>
                                                                        <h3>Contact form</h3>
                                                                        <form method="post" action="/submitcontact"> {% csrf_token %}
                                                                                <div class="row uniform">
                                                                                        <div class="6u 12u$(xsmall)">
                                                                                                <input type="text" name="demo-name" id="demo-name" value="" placeholder="Name" />
                                                                                        </div>
                                                                                        <div class="6u$ 12u$(xsmall)">
                                                                                                <input type="email" name="demo-email" id="demo-email" value="" placeholder="Email" />
                                                                                        </div>
                                                                                        <div class="12u$">
                                                                                                <textarea name="demo-message" id="demo-message" placeholder="Enter your message" rows="6"></textarea>
                                                                                        </div>
                                                                                        <div class="12u$">
                                                                                                <ul class="actions">
                                                                                                        <li><input type="submit" value="Send Message" /></li>
                                                                                                        <li><input type="reset" value="Reset" /></li>
                                                                                                </ul>
                                                                                        </div>
                                                                                </div>
                                                                        </form>
                                                                </section>




{% include 'snippets/standard2.html' %}


{% include 'snippets/css.html' %}


