{% load static %}

<!DOCTYPE HTML>
<!--
        Future Imperfect by HTML5 UP
        html5up.net | @ajlkn
        Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
-->
<html>
<html lang=en>

{% include 'snippets/standard1.html' %}


<iframe src='https://cdn.knightlab.com/libs/timeline3/latest/embed/index.html?source=1vg66fMhKK0y2GErkeJ9znPTqHeWnCMrEhIgn5NqskCo&font=Default&lang=en&initial_zoom=2&height=650' width='100%' height='650' webkitallowfullscreen mozallowfullscreen allowfullscreen frameborder='0'></iframe>


{% include 'snippets/css.html' %}

</html>

