{% load render_table from django_tables2 %}
{% load querystring from django_tables2 %}
{% load static %}

{% include 'snippets/standard1.html' %}

								 <section>
                                                                        <h3>Features</h3>
                                                                        {% render_table table_features %} 
                                                                        Download
                                                                        {% for format in table_features.export_formats %}
                                                                        <a href="{% querystring '_export'=format %}">
                                                                        <code>.{{ format }}</code>
                                                                        </a>
                                                                        {% endfor %}
                                                                        <br><br><b>Available feature sets</b> 
									<div class="dropdown">
    									<a href="/features">protr_composition</a> - protein composition (AAC, DC, TC) features<br>
    									<a href="/features_protr_correlation">protr_correlation</a> - protein autocorrelation (Moreau-Broto, Moran, Geary) features<br>
    									<a href="/features_protr_ctdtriad">protr_ctdtriad</a> - protein CTD (composition/transition/distribution) and conjoint triad features<br>
                                                                        <a href="/features_protr_pseudocomposition">protr_pseudocomposition</a> - protein pseudo-amino acid composition (PseAAC, APseAAC) features<br>
                                                                        <a href="/features_protr_qso">protr_qso</a> - protein quasi-sequence-order features<br>
                                                                        <a href="/features_rdnase">rdnase</a> - autocorrelation and nucleic acid composition features<br>
									<a href="/features_immuno_programs">immuno_programs</a> - epitope features <br>
  									<a href="/features_external_programs">other_programs</a> - post-translational modification features and features extracted from codonw, pepstats, tmhmm, lipop and signalp<br>
                                                                        </div>
                                                                </section>


{% include 'snippets/standard2.html' %}


{% include 'snippets/css.html' %}


<style>

div.features_aac {
  white-space: normal;
  overflow: scroll;
  width: 300px;
}

div.features_dc {
  white-space: normal;
  overflow: scroll;
  width: 300px;
}

div.features_tc {
  white-space: normal;
  overflow: scroll;
  width: 300px;
}

div.features_moreaubroto {
  white-space: normal;
  overflow: scroll;
  width: 300px;
}

div.features_geary {
  white-space: normal;
  overflow: scroll;
  width: 300px;
}

div.features_moran {
  white-space: normal;
  overflow: scroll;
  width: 300px;
}

div.features_ctdt {
  white-space: normal;
  overflow: scroll;
  width: 200px;
}

div.features_ctdd {
  white-space: normal;
  overflow: scroll;
  width: 200px;
}

div.features_ctriad {
  white-space: normal;
  overflow: scroll;
  width: 200px;
}

div.features_ctdc {
  white-space: normal;
  overflow: scroll;
  width: 200px;
}

div.features_paac {
  white-space: normal;
  overflow: scroll;
  width: 400px;
}


div.features_apaac {
  white-space: normal;
  overflow: scroll;
  width: 400px;
}

div.features_qso {
  white-space: normal;
  overflow: scroll;
  width: 400px;
}


div.features_socn {
  white-space: normal;
  overflow: scroll;
  width: 400px;
}

div.features_tacc {
  white-space: normal;
  overflow: scroll;
  width: 100px;
}

div.features_dacc {
  white-space: normal;
  overflow: scroll;
  width: 100px;
}

div.features_pseknc {
  white-space: normal;
  overflow: scroll;
  width: 100px;
}

div.features_psednc {
  white-space: normal;
  overflow: scroll;
  width: 100px;
}

div.features_kmer1 {
  white-space: normal;
  overflow: scroll;
  width: 100px;
}

div.features_kmer2 {
  white-space: normal;
  overflow: scroll;
  width: 100px;
}

div.features_kmer3 {
  white-space: normal;
  overflow: scroll;
  width: 100px;
}

div.features_codonw {
  white-space: normal;
  overflow: scroll;
  width: 70px;
}

div.features_pepstats {
  white-space: normal;
  overflow: scroll;
  width: 70px;
}

div.features_tmhmm {
  white-space: normal;
  overflow: scroll;
  width: 70px;
}

div.features_lipop {
  white-space: normal;
  overflow: scroll;
  width: 70px;
}

div.features_signalp {
  white-space: normal;
  overflow: scroll;
  width: 70px;
}


div.features_netcglyc {
  white-space: normal;
  overflow: scroll;
  width: 70px;
}

div.features_netnglyc {
  white-space: normal;
  overflow: scroll;
  width: 70px;
}

div.features_netoglyc {
  white-space: normal;
  overflow: scroll;
  width: 70px;
}

div.features_yinoyang {
  white-space: normal;
  overflow: scroll;
  width: 70px;
}

div.features_netchop {
  white-space: normal;
  overflow: scroll;
  width: 60px;
}

div.features_netctl {
  white-space: normal;
  overflow: scroll;
  width: 60px;
}

div.features_netctlpan {
  white-space: normal;
  overflow: scroll;
  width: 60px;
}

div.features_netmhc {
  white-space: normal;
  overflow: scroll;
  width: 60px;
}

div.features_netmhc2 {
  white-space: normal;
  overflow: scroll;
  width: 60px;
}

div.features_netmhc2pan {
  white-space: normal;
  overflow: scroll;
  width: 60px;
}

div.features_netmhcstab {
  white-space: normal;
  overflow: scroll;
  width: 60px;
}

div.features_netmhcstabpan {
  white-space: normal;
  overflow: scroll;
  width: 60px;
}

</style>
