{% load render_table from django_tables2 %}
{% load querystring from django_tables2 %}
{% load bootstrap3 %}
{% load static %}

<html>
<html lang=en>


{% include 'snippets/standard1.html' %}

								 <section>
                                                                        <h3>Gene identifiers and annotations</h3>
									{% if filter %}
									<form action="" method="get" class="form form-inline">
        								{% bootstrap_form filter.form layout='inline' %}
       									{% bootstrap_button 'filter' %}
   									</form>
									{% endif %}
                                                                        {% render_table table_genes %}
									Download
 									{% for format in table_genes.export_formats %}
                                                                        <a href="{% querystring '_export'=format %}">
                                                                        <code>.{{ format }}</code>
                                                                        </a>
                                                                        {% endfor %}
                                                                </section>


{% include 'snippets/standard2.html' %}


{% include 'snippets/css.html' %}

</html>
