{% load render_table from django_tables2 %}
{% load querystring from django_tables2 %}

{% load bootstrap3 %}
{% load static %}

{% include 'snippets/standard1.html' %}

								 <section>
                                                                        <h3>Phenotypes - Mouse Genome Informatics (MGI)</h3>
                        						 <b><a href="/ontology_mgi">See MGI phenotype ontology</a></b><br>
                                                                         <b><a href="/mgi">See MGI gene-phenotype data</a></b><br><br>
									 {% if filter %}
                                                                         <form action="" method="get" class="form form-inline">
                                                                         {% bootstrap_form filter.form layout='inline' %}
                                                                         {% bootstrap_button 'filter' %}
                                                                         </form>
                                                                         {% endif %}
                                                                         {% render_table table_phenotypes_mgi %}
									 Download
								 	 {% for format in table_phenotypes_mgi.export_formats %}
                                                                         <a href="{% querystring '_export'=format %}">
                                                                         <code>.{{ format }}</code>
                                                                         </a>
                                                                         {% endfor %}
                                                                </section>


{% include 'snippets/standard2.html' %}

{% include 'snippets/css.html' %}

<style>
div.phenotype_ids {
  white-space: normal;
  overflow: scroll;
  width: 300px;
}
</style>
