{% load render_table from django_tables2 %}
{% load querystring from django_tables2 %}
{% load bootstrap3 %}
{% load static %}

{% include 'snippets/standard1.html' %}

								 <section>
                                                                        <h3>Phenotypes</h3>
                                                                         <br>
                                                                         <b>Data sources:</b><br>
                                                                         <a href="/seedgenes">SeedGenes (Arabidopsis thaliana)</a><br>
                                                                         <a href="/sgd">Saccharomyces Genome Database (Saccharomyces cerevisiae)</a><br>
                                                                         <a href="/pombase">PomBase (Schizosaccharomyces pombe)</a><br>
                                                                         <a href="/toxodb">ToxoDB (Toxoplasma gondii)</a><br>
                                                                         <a href="/tritrypdb">TriTrypDB (Trypanosoma brucei)</a><br>
                                                                         <a href="/wormbase">WormBase (Caenorhabditis elegans)</a><br>
                                                                         <a href="/flybase">FlyBase (Drosophila melanogaster)</a><br>
                                                                         <a href="/zfin">ZFIN (Danio rerio)</a><br>
                                                                         <a href="/mgi">MGI (Mus musculus)</a><br>
                                                                         <a href="/genomecrispr">GenomeCRISPR (Homo sapiens)</a><br>

                                                                </section>


{% include 'snippets/standard2.html' %}


{% include 'snippets/css.html' %}

