{% load static %}

<!DOCTYPE HTML>
<!--
	Future Imperfect by HTML5 UP
	html5up.net | @ajlkn
	Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
-->

{% include 'snippets/standard1.html' %}


                                                                <section>
                                                                        <h3>Run EssentialPred</h3>
                                                                        <form method="post" action="/submit_pred"> {% csrf_token %}
                                                                                <div class="row uniform">
                                                                                        <div class="4u 12u$(small)">
                                                                                                <input type="radio" id="predictor1" name="predictor" checked>
                                                                                                <label for="predictor1">Predictor1</label>
                                                                                        </div>
                                                                                        <div class="4u 12u$(small)">
                                                                                                <input type="radio" id="predictor2" name="predictor">
                                                                                                <label for="predictor2">Predictor2</label>
                                                                                        </div>
                                                                                        <div class="4u$ 12u$(small)">
                                                                                                <input type="radio" id="predictor3" name="predictor">
                                                                                                <label for="predictor3">Predictor3</label>
                                                                                        </div>
                                                                                        <div class="12u$">
                                                                                                <textarea name="sendproteins" id="sendproteins" placeholder="Enter your protein list (FASTA/Multi-FASTA):" rows="6"></textarea>
                                                                                        </div>
                                                                                        <div class="12u$">
                                                                                                <ul class="actions">
                                                                                                        <li><input type="submit" value="Submit" /></li>
                                                                                                        <li><input type="reset" value="Reset" /></li>
                                                                                                </ul>
                                                                                        </div>
                                                                                </div>
                                                                        </form>
                                                                </section>




{% include 'snippets/standard2.html' %}


{% include 'snippets/css.html' %}

