{% load render_table from django_tables2 %}
{% load querystring from django_tables2 %}

{% load bootstrap3 %}
{% load static %}

{% include 'snippets/standard1.html' %}

								 <section>
                                                                        <h3>Coding sequences, peptide sequences and ortholog identifiers</h3>
									 {% if filter %}
                                                                         <form action="" method="get" class="form form-inline">
                                                                         {% bootstrap_form filter.form layout='inline' %}
                                                                         {% bootstrap_button 'filter' %}
                                                                         </form>
                                                                         {% endif %}
                                                                         {% render_table table_sequences %}
									 Download
								 	 {% for format in table_sequences.export_formats %}
                                                                         <a href="{% querystring '_export'=format %}">
                                                                         <code>.{{ format }}</code>
                                                                         </a>
                                                                         {% endfor %}
                                                                </section>


{% include 'snippets/standard2.html' %}

{% include 'snippets/css.html' %}

<style>

div.cds_seq {
  white-space: normal;
  overflow: scroll;
  width: 150px;
}


div.peptide_seq {
  white-space: normal;
  overflow: scroll;
  width: 150px;
}


</style>
