{% load render_table from django_tables2 %}
{% load querystring from django_tables2 %}

{% load static %}

<html>
<html lang=en>


{% include 'snippets/standard1.html' %}

								 <section>
                                                                        <h3>Species</h3>
                                                                        {% render_table table_species %}
									Download
                                                                        {% for format in table_species.export_formats %}
                                                                         <a href="{% querystring '_export'=format %}">
                                                                         <code>.{{ format }}</code>
                                                                         </a>
                                                                        {% endfor %}
                                                                </section>

{% include 'snippets/standard2.html' %}

{% include 'snippets/css.html' %}

</html>
