{% extends 'base.html' %}

{% load static %}

{% for post in posts %}

<article class="post">
 <header>
 <div class="title">
	<h2><a href="#">{{ post.title }}</a></h2>
 </div>

 <div class="meta">
	<time class="published" datetime="published">{{ post.published_date }}</time>
	<a href="#" class="author"><span class="name">{{ post.author }}</span><img src="{% static 'images/avatar.jpg'%}" alt="" /></a>
 </div>
 </header>

	<p>{{ post.text|linebreaksbr }}</p>
</article>

{% endfor %}

