{% load static %} 
               <!-- Scripts -->
                        <script src="{% static 'assets/js/jquery.min.js'%}"></script>
                        <script src="{% static 'assets/js/skel.min.js'%}"></script>
                        <script src="{% static 'assets/js/util.js'%}"></script>
                        <!--[if lte IE 8]><script src="assets/js/ie/respond.min.js"></script><![endif]-->
                        <script src="{% static 'assets/js/main.js'%}"></script>

        </body>
</html>

