{% load static %}

</div>

<!-- Sidebar -->
                                        <section id="sidebar">

                                                <!-- Intro -->
                                                        <section id="intro">
                                                                <a href="/" class="logo"><img src="{% static 'images/logo.jpg'%}" alt=""></a>
                                                                <header>
                                                                        <h2>EssentialPRED</h2>
                                                                        <p>An integrative resource of gene features towards essentiality predictions</a></p>
                                                                </header>
                                                        </section>
                                                <!-- About -->
                                                        <section class="blurb">
                                                                <h2>About</h2>
                                                                <p>Mauris neque quam, fermentum ut nisl vitae, convallis maximus nisl. Sed mattis nunc id lorem euismod amet placerat. Vivamus porttitor magna enim, ac accumsan tortor cursus at phasellus sed ultricies.</p>
                                                                <ul class="actions">
                                                                        <li><a href="/essentiality" class="button">Learn More</a></li>
                                                                </ul>
                                                        </section>

                                                <!-- Footer -->
                                                        <section id="footer">
                                                                <ul class="icons">
                                                                        <li><a href="#" class="fa-twitter"><span class="label">Twitter</span></a></li>
                                                                        <li><a href="#" class="fa-envelope"><span class="label">Email</span></a></li>
                                                                </ul>
                                                                <p class="copyright">&copy; Vorax - Design: <a href="http://html5up.net">HTML5 UP</a>.</p>
                                                        </section>

                                        </section>

                        </div>
