{% load static %}
<!DOCTYPE HTML>
<!--
        Future Imperfect by HTML5 UP
        html5up.net | @ajlkn
        Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
-->
<html>
        <head>
                <title>EssentialPRED</title>
                <meta charset="utf-8" />
                <meta name="viewport" content="width=device-width, initial-scale=1" />
                <!--[if lte IE 8]><script src="assets/js/ie/html5shiv.js"></script><![endif]-->
                <link rel="stylesheet" href="{% static 'assets/css/main.css' %}" />
                <!--[if lte IE 9]><link rel="stylesheet" href="assets/css/ie9.css" /><![endif]-->
                <!--[if lte IE 8]><link rel="stylesheet" href="assets/css/ie8.css" /><![endif]-->
        </head>
        <body>

                <!-- Wrapper -->
                        <div id="wrapper">

                                <!-- Header -->
                                        <header id="header">
                                                <h1><a href="/">Home</a></h1>
                                                <nav class="links">
                                                        <ul>
                                                                <li><a href="/essentiality">Gene essentiality</a></li>
                                                                <li><a href="#">Machine-learning</a></li>
								<li><a href="/species">Species</a></li>
								<li><a href="/genes">Genes</a></li>
								<li><a href="/sequences">Sequences</a></li>
                                                                <li><a href="/features">Feature collections</a></li>
                                                                <li><a href="/phenotypes">Phenotypes</a></li>
                                                                <li><a href="/predictor">On-line predictor</a></li>
								<li><a href="/contact">Contact</a></li>
								<li><a href="#">Cite us</a></li>
                                                        </ul>
                                                </nav>
                                                <nav class="main">
                                                        <ul>
                                                                <li class="menu">
                                                                        <a class="fa-bars" href="#menu">Menu</a>
                                                                </li>
                                                        </ul>
                                                </nav>
                                        </header>
<!-- Menu -->
                                        <section id="menu">

                                                <!-- Links -->
                                                        <section>
                                                                <ul class="links">
                                                                        <li>
                                                                                <a href="/species">
                                                                                        <h3>Species</h3>
                                                                                        <p>Feugiat tempus veroeros dolor</p>
                                                                                </a>
                                                                        </li>
                                                                        <li>
                                                                                <a href="/genes">
                                                                                        <h3>Genes</h3>
                                                                                        <p>Sed vitae justo condimentum</p>
                                                                                </a>
                                                                        </li>
                                                                        <li>
                                                                                <a href="/sequences">
                                                                                        <h3>Sequences</h3>
                                                                                        <p>Phasellus sed ultricies mi congue</p>
                                                                                </a>
                                                                        </li>
                                                                        <li>
                                                                                <a href="/features">
                                                                                        <h3>Features</h3>
                                                                                        <p>Porta lectus</p>
                                                                                </a>
                                                                        </li>
                                                                        <li>
                                                                                <a href="/phenotypes">
                                                                                        <h3>Phenotypes</h3>
                                                                                        <p>Amet ultricies</p>
                                                                                </a>
                                                                        </li>
<li>
                                                                                <a href="/predictor">
                                                                                        <h3>Predictor</h3>
                                                                                        <p>PRED</p>
                                                                                </a>
                                                                        </li>
<li>
                                                                                <a href="/contact">
                                                                                        <h3>Contact</h3>
                                                                                        <p>contact</p>
                                                                                </a>
                                                                        </li>


                                                                </ul>
                                                        </section>

                                                        </section>

                                        </section>

<div id="main">
